<div class="wrapper">
  <div class="login-page">
    <div class="form">
      <img class="img" src="../../assets/image/logovnext.png">
      <form class="login-form">
        <input class="input" type="text" placeholder="Email" id="email" />
        <input class="input" type="password" placeholder="Password" id="password" />
        <input class="button" type="button" (click)="login()" value="LOGIN" />
        <input class="register" type="button" (click)="register()" value="Go to register" />
      </form>
    </div>
  </div>

</div>
