<div id="container">
  <div id="sideMenu">
    <h1>Bank App</h1>

    <ul class="menu">
      <li>Main</li>
      <li>Dashboard</li>
      <li>Reports <span class="notification">8</span></li>
      <li>Groups</li>
    </ul>

    <ul class="menu">
      <li>Account</li>
      <li>Activity</li>
      <li>Messages <span class="notification">4</span></li>
      <li>Downloads</li>
    </ul>

    <ul class="menu">
      <li>Categories</li>
      <li>Credit Sales <span class="colorIcon red"></span></li>
      <li>Channel Sales <span class="colorIcon orange"></span></li>
      <li>Direct Sales <span class="colorIcon green"></span></li>
    </ul>
    <div class="addCategory"><span class="plus">+</span> Add Category</div>
  </div>
  <div id="content">
    <div id="titleBar">
      <h2>Dashboard</h2>
      <div id="profilePic">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/153917/profile/profile-512.jpg" />
      </div>
      <span class="controls activeControl">Weekly</span>
      <span class="controls">Monthly</span>
    </div>

  </div>
</div>
