<div class="wrapper">
  <div class="register-page">
    <div class="form">
      <img class="img" src="../../assets/image/logovnext.png">
      <form class="register-form">
        <div>
          <input class="input" type="text" placeholder="Name" id="name" />
        </div>
        <div class="err" id="name"></div>
        <div>
          <input class="input" type="text" placeholder="Email" id="email" />
        </div>
        <div class="err" id="e_email"></div>
        <div>
          <input class="input" type="password" placeholder="Password" id="password" />
        </div>
        <div class="err" id="e_password"></div>
        <div>
          <input class="input" type="password" placeholder="Confirm Password" id="c_password" />
        </div>
        <div class="err" id="e_c_password"></div>
        <button class="register" type="button" id="btn-register">
          Register
        </button>
      </form>
    </div>
  </div>
</div>
